@import "../../assets/variables";

.dropdown {
  margin-bottom: 20px;
  &__label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    &_left {
      font-family: Montserrat-Bold, sans-serif;
      color: $dark-shade-100;
    }
    &_right {
      color: $dark-shade-50;
    }
  }
  &__field {
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
  }
  &__default {
    padding: 11px 8px 7px 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  &__icon_arrow {
    color: rgba(31, 32, 65, 0.5);
  }
  &__expanded {
    border-top: 1px solid rgba(31, 32, 65, 0.25);
    display: none;
    font-family: Montserrat-Bold, sans-serif;
    color: $dark-shade-100;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 7px 2px 15px;
  }
  &__option {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    line-height: 28px;
    &_clear {
      color: $dark-shade-50;
      cursor: pointer;
    }
    &_apply {
      color: $purple;
      cursor: pointer;
    }
    &_last {
      margin-top: 13px;
    }
  }
  &__counter {
    display: flex;
    justify-content: space-between;
    width: 92px;
    &_add-btn {
      font-family: Montserrat, sans-serif;
      border: 1px solid $dark-shade-25;
      border-radius: 22px;
      color: $dark-shade-50;
      font-size: 18px;
      width: 30px;
      text-align: center;
      cursor: pointer;
    }
    &_remove-btn {
      font-family: Montserrat, sans-serif;
      border: 1px solid $dark-shade-5;
      border-radius: 22px;
      color: $dark-shade-5;
      font-size: 18px;
      width: 30px;
      text-align: center;
      cursor: pointer;
    }
  }
}
