.dropdown
    .dropdown__label
        span.dropdown__label_left Dropdown
        span.dropdown__label_right Default
    .dropdown__field
        .dropdown__default
            span Сколько гостей
            i.material-icons.dropdown__icon_arrow keyboard_arrow_down
        .dropdown__expanded
            .dropdown__option
                span взрослые
                .dropdown__counter
                    span.dropdown__counter_remove-btn -
                    span.dropdown__counter_number 0
                    span.dropdown__counter_add-btn +
            .dropdown__option
                span дети
                .dropdown__counter
                    span.dropdown__counter_remove-btn -
                    span.dropdown__counter_number 0
                    span.dropdown__counter_add-btn +
            .dropdown__option
                span младенцы
                .dropdown__counter
                    span.dropdown__counter_remove-btn -
                    span.dropdown__counter_number 0
                    span.dropdown__counter_add-btn +
            .dropdown__option.dropdown__option_last
                span.dropdown__option_clear очистить
                span.dropdown__option_apply применить

