include ../text/text
mixin dropdown(options)
    .dropdown
        .dropdown__title
            +text('span', options.title, 'label')
            if (options.extraTitle)
                span.dropdown__extra-title= options.extraTitle
        .dropdown__drop
            span= options.defaultText
            i.material-icons.dropdown__icon keyboard_arrow_down
        .dropdown__options
            each val in options.arr
                .dropdown__option
                    +text('h3', val.item, 'label')
                    .dropdown__counter
                        span.dropdown__counter-btn.dropdown__counter-btn_less -
                        +text('span', val.num, 'label')
                        span.dropdown__counter-btn.dropdown__counter-btn_more +
            if options.buttons
                .dropdown__option
                    span.dropdown__btn
                    span.dropdown__btn.dropdown__btn_apply применить
//.dropdown__btn_clear очистить

