@import "../../assets/variables";

.pagination {
  padding-left: 7px;
  .paginationjs-pages {
    margin-bottom: 10px;
    ul {
      display: flex;
      list-style-type: none;
      margin-left: -7px;
    }
    li {
      text-align: center;
      font-size: 12px;
    }
  }
  .paginationjs-page, .paginationjs-ellipsis {
    a {
      text-decoration: none;
      color: $dark-shade-50;
      width: 40px;
      height: 40px;
      display: block;
      padding: 12px 0;
    }
  }
  .paginationjs-next a, .paginationjs-prev a {
    width: 40px;
    height: 40px;
    display: block;
    padding: 12px 0;
    color: #FFFFFF;
    background: $gr-secondary;
    border-radius: 22px;
  }
  .paginationjs-next i, .paginationjs-prev i {
    margin-top: -4px;
  }
  .paginationjs-prev a {
    padding-left: 8px;
  }
  .paginationjs-pages .active {
    background: $gr-primary-rgba;
    border-radius: 22px;
  }
  .paginationjs-pages .active a {
    color: #FFFFFF;
  }
}

