@import "../../assets/variables";

.input {
  width: 100%;
  outline: none;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  padding: 12px 15px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: $dark-shade-75;
  &::placeholder {
    color: $dark-shade-25;
  }
  &:hover, :focus {
    &::placeholder {
      color: $dark-shade-75;
    }
  }
  &_datepicker {
    width: 150px;
  }
  &_filter-datepicker {
    text-transform: lowercase;
  }
  &__label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    &_right {
      text-transform: uppercase;
      font-size: 12px;
      color: $dark-shade-50;
    }
    &_subscribe {
      position: relative;
    }
    &_datepicker {
      position: relative;
    }
    &_filter-datepicker {
      position: relative;
    }
  }
  &__submit {
    border: none;
    outline: none;
    background: none;
    position: absolute;
    right: 3px;
    top: 0;
    cursor: pointer;
  }
  &__icon {
    position: absolute;
    right: 8px;
    top: 0;
    cursor: pointer;
    color: $dark-shade-50;
    &_datepicker {
      top: 32px;
    }
    &_subscribe {
      top: -2px;
    }
  }
  &_mb-10 {
    margin-bottom: 10px;
  }
  &_mb-20 {
    margin-bottom: 20px;
  }
  &_mb-40 {
    margin-bottom: 40px;
  }
  &_mt-20 {
    margin-top: 20px;
  }
}

.ui-datepicker {
  width: 320px;
  margin-top: 5px;
  background: #FFFFFF;
  border: 1px solid $dark-shade-25;
  box-shadow: 0 10px 20px $dark-shade-5;
  border-radius: 4px;
  padding: 20px 10px;
}

.ui-datepicker-calendar {
  width: 280px;
  margin: auto;
  border-spacing: 0;
  & thead {
    font-size: 12px;
    color: $purple;
  }
  & tbody {
    width: 280px;
  }
  & tbody td {
    font-size: 12px;
    text-align: center;
  }
  & a{
    text-decoration: none;
  }
}

.ui-datepicker-calendar tbody span, .ui-datepicker-calendar a{
  width: 40px;
  height: 40px;
  display: block;
  padding: 12px 0;
  color: $dark-shade-50;
}

.ui-datepicker-other-month span, .ui-datepicker-other-month a {
  color: $dark-shade-25 !important;
}

.ui-datepicker-title {
  margin-bottom: 30px;
  font-family: Montserrat-Bold, sans-serif;
  text-align: center;
  color: $dark-shade-100;
  font-size: 19px;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center 0;
}

.ui-datepicker-prev:not(.ui-state-disabled), .ui-datepicker-next {
  cursor: pointer;
}

.ui-datepicker-prev {
  background-image: url('img/arrow_back.png');
  float: left;
}

.ui-datepicker-next {
  background-image: url('img/arrow_forward.png');
  float: right;
}

.ui-datepicker-today a {
  background: $gr-secondary;
  border-radius: 22px;
}

.ui-datepicker-buttonpane {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
  line-height: 28px;
}

.ui-datepicker-current, .ui-datepicker-close {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.ui-datepicker-current {
  color: $dark-shade-50;
}

.ui-datepicker-close {
  color: $purple;
}

.selected-start a, .selected-end a {
  background: $gr-primary-rgba !important;
  border-radius: 22px;
  color: #FFFFFF !important;
  position: relative;
}

.selected-start:not(.selected-end) a:before {
  content: '';
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  border-radius: 22px 0 0 22px;
  background: $dark-shade-5;
  position: absolute;
}

.selected-end:not(.selected-start) a:before {
  content: '';
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  border-radius: 0 22px 22px 0;
  background: $dark-shade-5;
  position: absolute;
}

.selected-start, .selected-end {
  background: none !important;
}

.selected a {
  color: $purple;
}

.selected {
  background: $dark-shade-5;
}

