include ../../components/checkbox/checkbox
include ../text/text

    //-
        options.title - string - heading of the checkbox
        options.arr - array - {text: string, checked: bool}

mixin checkbox-expandable(options)
    .checkbox-exp
        +text({
            tag: 'h3',
            text: options.title,
            type: 'label'
        })
        i.material-icons.checkbox-exp__icon keyboard_arrow_down
    .checkbox-exp__options
        each val in options.arr
            +checkbox(val)

