@import "../../assets/variables";

.checkbox-exp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  &__icon {
    padding-right: 10px;
    color: $dark-shade-50;
  }
  &__options {
    display: none;
  }
}

