mixin button(options)
    if options.type === 'btn'
        button.btn= options.text
    if options.type === 'bg'
        button.btn.btn_bg= options.text
    if options.type === 'border'
        button.btn.btn_border= options.text
    if options.type === 'submit'
        button.btn.btn_bg.btn_submit= options.text
            i.material-icons.btn_submit__icon arrow_forward

