@import "../../assets/variables";

.btn {
  text-transform: uppercase;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 12px;
  color: $purple;
  transition: color 0.3s;
  &:hover {
    color: $dark-shade-50;
  }
  &_bg {
    position: relative;
    color: #FFFFFF;
    width: 99px;
    height: 44px;
    border-radius: 22px;
    background: $gr-primary-rgba;
    transition: opacity 0.3s;
    &:hover {
      color: #FFFFFF;
      opacity: 0.5;
    }
  }
  &_border {
    color: $purple;
    background: #FFFFFF;
    position: relative;
    width: 99px;
    height: 44px;
    border-radius: 22px;
    background-clip: padding-box;
    border: solid 2px transparent;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: $gr-primary-rgba;
      transition: opacity 0.3s;
    }
    &:hover {
      color: $purple;
      &::before {
        opacity: 0.5;
      }
    }
  }
  &_submit {
    width: 100%;
    &__icon {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  &_mr-16 {
    margin-right: 16px;
  }
  &_mr-20 {
    margin-right: 20px;
  }
  &_mb-30 {
    margin-bottom: 30px;
  }
}

