@import "../../assets/variables";

.text {
  color: $dark-shade-100;
  &_title {
    font-family: Quicksand-Bold, sans-serif;
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 30px;
  }
  &_item-title {
    font-family: Quicksand-Bold, sans-serif;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.3px;
  }
  &_label {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
  }
  &_mb-16 {
    margin-bottom: 16px;
  }
  &_mb-13 {
    margin-bottom: 13px;
  }
  &_mt-6 {
    margin-top: 6px;
  }
}

