include ../text/text
include ../input/input
include ../dropdown/dropdown
include ../button/button

.room-booking
    .room-booking__text
        div
            span.room-booking__text_num №
            span.room-booking__text_number 888
            span.room-booking__text_type люкс
        div
            span.room-booking__text_price 9&#8239;900₽
            span.room-booking__text_price.room-booking__text_price-ext в сутки
    form
        .room-booking__flex
            +input({
                leftLabel: 'прибытие',
                placeholder: 'ДД.ММ.ГГГГ',
                mod: 'datepicker',
                labelMod: 'datepicker',
                positionMod: ['mb-20', 'room-booking-calendar']
            })
            +input({
                leftLabel: 'выезд',
                placeholder: 'ДД.ММ.ГГГГ',
                mod: 'datepicker',
                labelMod: 'datepicker',
                positionMod: ['mb-20', 'room-booking-calendar']
            })
        +dropdown({
            title: 'гости',
            defaultText: '3 гостя',
            arr: [
                {item: 'взрослые', counterClass: 'adults', num: 2},
                {item: 'дети', counterClass: 'children', num: 1},
                {item: 'младенцы', counterClass: 'infants', num: 0},
            ],
            type: 'guests-5',
            buttons: true,
            positionMod: 'mb-18'
        })
        .room-booking__count
            div
                span.room-booking__count_price 9&#8239;990₽
                span x
                span.room-booking__count_days 4 суток
            div
                span.room-booking__count_days-result 39&#8239;960₽
        .room-booking__count
            .room-booking__wrapper
                div
                    span.room-booking__count_service Сбор за услуги:
                    span.room-booking__count_discount скидка
                    span.room-booking__count_service-price 2&#8239;179₽
                div
                    span.room-booking__info i
                        span.room-booking__info-hint service hint Сбор за услуги service hint
            div
                span.room-booking__count_service-result 0₽
        .room-booking__count
            .room-booking__wrapper
                div
                    span.room-booking__count_ext-service Сбор за дополнительные услуги
                div
                    span.room-booking__info i
                        span.room-booking__info-hint extra-service hint Сбор за дополнительные услуги extra-service hint
            div
                span.room-booking__count_ext-service-result 300₽
        .room-booking__result
            +text({
                tag: 'span',
                text: 'Итого',
                type: 'item-title'
            })
            .room-booking__result-line
            span.room-booking__text_result-price 38&#8239;081₽
        +button({type: 'submit', text: 'забронировать'})

