include ../text/text

//-
    options.text - obj - text component options
    options.rangeText - string - slider range

mixin range-slider(options)
    .flex-bw
        +text(options.text)
        span.range-slider__text= options.rangeText
    .range-slider

