@import "../../assets/variables";

.logo {
  width: 48px;
  height: 48px;
  position: relative;
  display: block;
  background: #FFFFFF;
  border-radius: 50%;
  background-clip: padding-box;
  border: solid 2px transparent;
  &__item-left {
    position: absolute;
    top: 16px;
    left: 9px;
    fill: $dark-shade-25;
    &_gradient {
      width: 13px;
      height: 13px;
      top: 13px;
      left: 7px;
      fill: url(#logo-left-gradient);
    }
  }
  &__item-right {
    position: absolute;
    top: 15px;
    right: 9px;
    fill: $dark-shade-25;
    &_gradient {
      width: 10px;
      height: 7px;
      top: 13px;
      right: 7px;
      fill: url(#logo-right-gradient);
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: $dark-shade-25;
  }
  &_gradient {
    width: 40px;
    height: 40px;
    &::before {
      background: $gr-primary-rgba;
    }
  }
}

