include ../text/text

//-
    colors - array of objects {desc: string, hex: string, opacity: number}

mixin colors(colors)
    .colors
        each val in colors
            .colors__item
                .colors__color(style={background: val.hex, opacity: val.opacity})
                .colors__desc
                    +text('p', val.desc, 'item-title')
                    span.colors__hex= val.hex

