@import "../../assets/variables";
@import "../../assets/mixins";

.header {
  background: #FFFFFF;
  height: 70px;
  padding: 0 140px;
  position: relative;
  @include flex-bw;
  &__logo {
    margin: auto 0;
    display: flex;
    z-index: 0;
  }
  &__btn {
    z-index: 0;
  }
  &__toxin {
    margin: auto 12px;
  }
  &__menu {
    margin: auto 0;
    display: flex;
  }
  &__nav {
    &_main {
      display: flex;
      margin: auto 0;
    }
    &_sub {
      display: none;
      position: absolute;
      z-index: 1;
      top: 30px;
      left: -15px;
      padding: 15px;
      line-height: 24px;
      white-space: nowrap;
      background: white;
      border-radius: 4px;
      border: 1px solid $dark-shade-1;
    }
  }
  &__nav-item {
    list-style-type: none;
    margin-right: 30px;
    display: flex;
    cursor: pointer;
    position: relative;
    &:hover {
      .header__nav-icon, .header__nav-link {
        color: $dark-shade-75;
      }
    }
    &_sub {
      margin: 0;
    }
  }
  &__nav-link {
    text-decoration: none;
    color: $dark-shade-50;
    &_active {
      color: $dark-shade-75;
      font-family: Montserrat-Bold, sans-serif;
    }
  }
  &__nav-icon {
    line-height: 18px;
    padding-top: 1px;
    color: $dark-shade-50;
  }
  &__username {
    color: $dark-shade-50;
    padding-left: 30px;
    border-left: 1px solid $dark-shade-1;
  }
}

