include ../text/text

.type
    .type__item
        p.type__name.type__name_h1 H1
        .type__desc
            +text('h1', 'This one is&nbsp;the sub-section&nbsp;or widget title', 'title')
    .type__item
        p.type__name.type__name_h2 H2
        .type__desc
            +text('h2', 'Next one is&nbsp;the item title inside widgets', 'item-title')
    .type__item
        p.type__name.type__name_h3 H3
        .type__desc
            +text('h3', 'This is&nbsp;a&nbsp;label or&nbsp;CTA text', 'label')
    .type__item
        p.type__name Body
        .type__desc.type__desc_body
            p This is&nbsp;the body text which is&nbsp;used for most of&nbsp;the&nbsp;design, like paragraphs, lists, etc.

