.type
    include ../type__item/type__item
    -let h1Text = 'This one is&nbsp;the sub-section or&nbsp;widget title'
    -let h2Text = 'Next one is&nbsp;the item title inside widgets'
    -let h3Text = 'This is&nbsp;a&nbsp;label or&nbsp;CTA text'
    -let bodyText = 'This is&nbsp;the body text which is&nbsp;used for most of&nbsp;the&nbsp;design, like paragraphs, lists, etc.'
        +type__item('H1', 'h1', h1Text, ['heading', 'heading_h1'])
        +type__item('H2', 'h2', h2Text, ['heading', 'heading_h2'])
        +type__item('H3', 'h3', h3Text, ['heading', 'heading_h3'])
        +type__item('Body', 'body', bodyText, ['body-text'])

