mixin room-info(options)
    .room-info
        .room-info__icon
            i.material-icons= options.icon
        .room-info__text
            p.room-info__text_head= options.heading
            p.room-info__text_body= options.text
