@import "../../assets/variables";

.room-info {
  width: 280px;
  border-bottom: 1px solid $dark-shade-1;
  padding-bottom: 20px;
  margin-top: 20px;
  display: flex;
  &__icon {
    background: $gr-primary-rgba;
    background-clip: text;
    i {
      display: inline;
      color: transparent;
      font-size: 48px;
      line-height: 41px;
    }
  }
  &__text {
    padding: 1px 0 0 10px;
    margin-bottom: 5px;
    &_head {
      font-family: Montserrat-Bold, sans-serif;
      margin-bottom: 5px;
    }
  }
}

