include components/logo/logo
include components/colors/colors
include components/input/input
include components/dropdown/dropdown
include components/checkbox/checkbox
include components/radio/radio
include components/toggle/toggle
include components/like-btn/like-btn
include components/rate-btn/rate-btn
include components/button/button
include components/checkbox-expandable/checkbox-expandable
include components/room-info/room-info
include components/bullet-list/bullet-list
include components/review/review
include components/header/header

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title UI Kit
    body
        .logo-kit-wrapper
            +logo()
        .content.content_top-140.content_btm-100.flex-bw
            +colors([
                {desc: 'Dark Shade 100%', hex: '#1F2041', opacity: 1},
                {desc: 'Dark Shade 75%', hex: '#1F2041', opacity: 0.75},
                {desc: 'Dark Shade 50%', hex: '#1F2041', opacity: 0.5},
                {desc: 'Dark Shade 25%', hex: '#1F2041', opacity: 0.25},
                {desc: 'Dark Shade 5%', hex: '#1F2041', opacity: 0.05},
                {desc: 'Purple', hex: '#BC9CFF', opacity: 1},
                {desc: 'Green', hex: '#6FCF97', opacity: 1},
                ])
            include components/type/type
        .content.content_btm-100.flex-bw
            div
                form.form_wide
                    +input({
                        leftLabel: 'Text Field',
                        rightLabel: 'Default',
                        placeholder: 'Email',
                        type: 'text',
                        positionMod: 'mb-20'
                    })
                    +input({
                        leftLabel: 'Text Field',
                        rightLabel: 'Hover / Focus',
                        placeholder: 'This is pretty awesome',
                        type: 'text',
                        positionMod: 'mb-20'
                    })
                    +dropdown({
                        title: 'Dropdown',
                        rightLabel: 'Default',
                        defaultText: 'Сколько гостей',
                        arr: [
                            {item: 'взрослые', num: 0},
                            {item: 'дети', num: 0},
                            {item: 'младенцы', num: 0},
                        ],
                        buttons: true,
                        positionMod: 'mb-24'
                    })
                    +input({
                        leftLabel: 'masked text field',
                        rightLabel: 'Default',
                        placeholder: 'ДД.ММ.ГГГГ',
                        type: 'text',
                        mod: 'date',
                        positionMod: 'mb-40'
                    })
                    .flex-bw
                        +input({
                            leftLabel: 'date Dropdown',
                            placeholder: 'ДД.ММ.ГГГГ',
                            mod: 'datepicker',
                            labelMod: 'datepicker',
                            positionMod: ['mb-40', 'kit-calendar']
                        })
                        +input({
                            leftLabel: 'date Dropdown',
                            placeholder: 'ДД.ММ.ГГГГ',
                            mod: 'datepicker',
                            labelMod: 'datepicker',
                            positionMod: ['mb-40', 'kit-calendar']
                        })
                form.form_narrow
                    +input({
                        leftLabel: 'filter date dropdown',
                        mod: 'filter-calendar',
                        labelMod: 'filter-calendar',
                        positionMod: 'mb-40'
                    })
                    +input({
                        leftLabel: 'subscription text field',
                        placeholder: 'Email',
                        type: 'email',
                        labelMod: 'subscribe'
                    })
            div
                form.form_mb-42.form_narrow
                    +text({
                        tag: 'h3',
                        text: 'Checkbox Buttons',
                        type: 'label',
                        positionMod: 'mb-16'
                    })
                    +checkbox({text: 'Можно курить', checked: false})
                    +checkbox({text: 'Можно с питомцами', checked: true})
                    +checkbox({text: 'Можно пригласить гостей (до&nbsp;10&nbsp;человек)', checked: true})
                form.form_mb-42
                    +text({
                        tag: 'h3',
                        text: 'Radio buttons',
                        type: 'label',
                        positionMod: 'mb-16'
                    })
                    +radio({name: 'gender', value: 'male', text: 'Мужчина', checked: true})
                    +radio({name: 'gender', value: 'female', text: 'Женщина', checked: false})
                form.form_mb-46
                    +text({
                        tag: 'h3',
                        text: 'Toggle',
                        type: 'label',
                        positionMod: 'mb-16'
                    })
                    +toggle({text: 'Получать спецпредложения', checked: true})
                    +toggle({text: 'Получать спецпредложения', checked: false})
                .form_mb-40
                    +text({
                        tag: 'h3',
                        text: 'Like button',
                        type: 'label',
                        positionMod: 'mb-16'
                    })
                    .flex-bw.kit-w90
                        +like({likes: 2, isLiked: false})
                        +like({likes: 12, isLiked: true})
                .form_mb-40
                    +text({
                        tag: 'h3',
                        text: 'rate button',
                        type: 'label',
                        positionMod: 'mb-16'
                    })
                    .flex-bw.kit-w260
                        +rate('rate-1')
                        +rate('rate-10')
            div
                .form_mb-44.form_narrow
                    include components/range-slider/range-slider
                    +range-slider({
                        text: {tag: 'h3', text: 'Range Slider', type: 'label'},
                        rangeText: '5 000₽ - 10 000₽'
                    })
                .form_mb-40
                    +text({
                        tag: 'h3',
                        text: 'buttons',
                        type: 'label',
                        positionMod: 'mb-16'
                    })
                    div
                        +button({type: 'bg', text: 'click me', positionMod: ['mr-16', 'mb-30']})
                        +button({type: 'bg', text: 'click me'})
                    div
                        +button({type: 'border', text: 'click me', positionMod: ['mr-16', 'mb-30']})
                        +button({type: 'border', text: 'click me'})
                    div
                        +button({type: 'btn', text: 'click me', positionMod: ['mr-16', 'mb-30']})
                        +button({type: 'btn', text: 'click me'})
                    form.form_wide
                        +button({type: 'submit', text: 'перейти к оплате'})
                .form_mb-40
                    +text({
                        tag: 'h3',
                        text: 'pagination',
                        type: 'label',
                        positionMod: 'mb-16'
                    })
                    include components/pagination/pagination
        .content.content_btm-167.flex-bw
            .form_narrow
                +dropdown({
                    title: 'Dropdown',
                    extraTitle: 'Default',
                    defaultText: '2 спальни, 2 кровати...',
                    arr: [
                        {item: 'спальни', num: 2},
                        {item: 'кровати', num: 2},
                        {item: 'ванные комнаты', num: 0},
                    ],
                    buttons: false,
                    positionMod: 'mb-20'
                })
                +dropdown({
                    title: 'Dropdown',
                    extraTitle: 'expanded',
                    defaultText: '2 спальни, 2 кровати...',
                    arr: [
                        {item: 'спальни', num: 2},
                        {item: 'кровати', num: 2},
                        {item: 'ванные комнаты', num: 0},
                    ],
                    buttons: false
                })
            .flex
                .form_wide.form_mr-72
                    +dropdown({
                        title: 'Dropdown',
                        defaultText: 'Сколько гостей',
                        arr: [
                            {item: 'взрослые', num: 0},
                            {item: 'дети', num: 0},
                            {item: 'младенцы', num: 0},
                        ],
                        buttons: true
                    })
                .form_wide
                    +dropdown({
                        title: 'Dropdown',
                        defaultText: 'Сколько гостей',
                        arr: [
                            {item: 'взрослые', num: 0},
                            {item: 'дети', num: 0},
                            {item: 'младенцы', num: 0},
                        ],
                        buttons: true
                    })


        .content.flex-bw
            div
                .form_narrow.form_mb-40
                    +checkbox-expandable({
                        title: 'expandable checkbox list',
                        arr: [
                            {text: 'Завтрак', checked: false},
                            {text: 'Письменный стол', checked: true},
                            {text: 'Стул для кормления', checked: true},
                            {text: 'Кроватка', checked: true},
                            {text: 'Телевизор', checked: false},
                            {text: 'Шампунь', checked: false},
                            {text: 'Телевизор', checked: false},
                            {text: 'Шампунь', checked: false},
                        ]
                    })
                .form_narrow.form_mb-40
                    +checkbox-expandable({
                        title: 'expandable checkbox list',
                        arr: [
                            {text: 'Завтрак', checked: false},
                            {text: 'Письменный стол', checked: true},
                            {text: 'Стул для кормления', checked: true},
                            {text: 'Кроватка', checked: true},
                            {text: 'Телевизор', checked: false},
                            {text: 'Шампунь', checked: false},
                            {text: 'Телевизор', checked: false},
                            {text: 'Шампунь', checked: false},
                        ]
                    })
            .flex
                .form_wide.form_mr-72
                    .form_narrow
                        +text({
                            tag: 'h3',
                            text: 'Rich Checkbox Buttons',
                            type: 'label',
                            positionMod: ['mt-6', 'mb-16']
                        })
                        +checkbox({
                            text: 'Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см.',
                            checked: false,
                            mod: 'rich',
                            darkText: 'Широкий коридор'
                        })
                        +checkbox({
                            text: 'На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера.',
                            checked: false,
                            mod: 'rich',
                            darkText: 'Помощник для инвалидов'
                        })
                .form_wide
                    .form_narrow
                        +text({
                            tag: 'h3',
                            text: 'Bullet List',
                            type: 'label',
                            positionMod: ['mt-6', 'mb-13']
                        })
                        +bullet-list([
                            'Нельзя с&nbsp;питомцами',
                            'Без вечеринок и&nbsp;мероприятий',
                            'Время прибытия&nbsp;&mdash; после 13:00, а&nbsp;выезд до&nbsp;12:00'
                        ])
        .content.content_btm-100.flex-bw
            .form_mr-72
                +room-info({icon: 'mood', heading: 'Комфорт', text: 'Шумопоглощающие стены'})
                +room-info({icon: 'location_city', heading: 'Удобство', text: 'Окно в каждой из спален'})
            .review-kit-wr
                +review({
                    img: '/murad2.png',
                    name: 'Мурад Сарафанов',
                    daysAgo: 5,
                    likes: 12,
                    isLiked: true,
                    text: 'Великолепный матрас на&nbsp;кровати в&nbsp;основной спальне! А&nbsp;пуфик вообще потрясающий. И&nbsp;стены, действительно, шумоподавляющие. Выкрикивал комплименты повару&nbsp;&mdash; никто не&nbsp;жаловался из&nbsp;соседей.'
                })
        .content.content_bg-kit.flex-bw
            div
                include components/search-room/search-room
                include components/register/register
            div
                include components/room-booking/room-booking
                include components/login/login
            div
                include components/calendar/calendar
                include components/room-cards/room-cards
        .content_header-kit
            +header({
                menu: [
                    {item: 'Home'},
                    {item: 'About Us'},
                    {item: 'Services', subItem: ['service 1', 'service 2']},
                    {item: 'Careers'},
                    {item: 'News'},
                    {item: 'Documentation'}
                    ],
                isGuest: true,
                active: 'Home'
            })
        .content_header-kit
            +header({
                menu: [
                    {item: 'Home'},
                    {item: 'About Us'},
                    {item: 'Services', subItem: ['service 1', 'service 2']},
                    {item: 'Careers'},
                    {item: 'News'},
                    {item: 'Documentation'}
                ],
                isGuest: false,
                userName: 'Cosmin Negoita',
                active: 'Home'
            })
        .content_header-kit
            include components/footer/footer
        .content_header-kit
            include components/footer-mini/footer-mini

