doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title UI Kit
    body
        include components/logo/logo
        .content
            include components/colors/colors
            include components/type/type
        .content
            div
                form.form_wide
                    include components/input/input
                    +input({
                        label_left: 'Text Field',
                        label_right: 'Default',
                        placeholder: 'Email',
                        type: 'text'
                    })
                    +input({
                        label_left: 'Text Field',
                        label_right: 'Hover / Focus',
                        placeholder: 'This is pretty awesome',
                        type: 'text'
                    })
                    include components/dropdown/dropdown
                    +dropdown({
                        label_left: 'Dropdown',
                        label_right: 'Default',
                        defaultField: 'Сколько гостей',
                        expanded: ['взрослые', 'дети', 'младенцы'],
                        startCount: [0, 0, 0],
                        applyBtn: true
                    })
                    +input({
                        label_left: 'masked text field',
                        label_right: 'Default',
                        placeholder: 'ДД.ММ.ГГГГ',
                        type: 'text',
                        mod: 'date'})
                    .form__wrapper
                        +input({
                            label_left: 'date Dropdown',
                            placeholder: 'ДД.ММ.ГГГГ',
                            mod: 'datepicker',
                            labelMod: 'datepicker'
                        })
                        +input({
                            label_left: 'date Dropdown',
                            placeholder: 'ДД.ММ.ГГГГ',
                            mod: 'datepicker',
                            labelMod: 'datepicker'
                        })
                form.form_narrow
                    +input({
                        label_left: 'filter date dropdown',
                        mod: 'filter-datepicker',
                        labelMod: 'filter-datepicker'
                    })
                    +input({
                        label_left: 'subscription text field',
                        placeholder: 'Email',
                        type: 'email',
                        labelMod: 'subscribe'
                    })
            div

            div
        .content
            div
                form.form_narrow
                    +dropdown({
                        label_left: 'Dropdown',
                        label_right: 'Default',
                        defaultField: '2 спальни, 2 кровати...',
                        expanded: ['спальни', 'кровати', 'ванные комнаты'],
                        startCount: [2, 2, 0],
                        applyBtn: false
                    })
                    +dropdown({
                        label_left: 'Dropdown',
                        label_right: 'expanded',
                        defaultField: '2 спальни, 2 кровати...',
                        expanded: ['спальни', 'кровати', 'ванные комнаты'],
                        startCount: [2, 2, 0],
                        applyBtn: false
                    })
            div
            div
