include components/logo/logo
include components/colors/colors
include components/input/input
include components/dropdown/dropdown
include components/checkbox/checkbox
include components/radio/radio
include components/toggle/toggle
include components/like-btn/like-btn
include components/rate-btn/rate-btn
include components/button/button
include components/checkbox-expandable/checkbox-expandable
include components/room-info/room-info
include components/bullet-list/bullet-list
include components/review/review

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title UI Kit
    body
        .logo-kit-wrapper
            +logo()
        .content
            +colors([
                {desc: 'Dark Shade 100%', hex: '#1F2041', opacity: 1},
                {desc: 'Dark Shade 75%', hex: '#1F2041', opacity: 0.75},
                {desc: 'Dark Shade 50%', hex: '#1F2041', opacity: 0.5},
                {desc: 'Dark Shade 25%', hex: '#1F2041', opacity: 0.25},
                {desc: 'Dark Shade 5%', hex: '#1F2041', opacity: 0.05},
                {desc: 'Purple', hex: '#BC9CFF', opacity: 1},
                {desc: 'Green', hex: '#6FCF97', opacity: 1},
                ])
            include components/type/type
        .content
            div
                form.form_wide
                    +input({
                        label_left: 'Text Field',
                        label_right: 'Default',
                        placeholder: 'Email',
                        type: 'text'
                    })
                    +input({
                        label_left: 'Text Field',
                        label_right: 'Hover / Focus',
                        placeholder: 'This is pretty awesome',
                        type: 'text'
                    })
                    +dropdown({
                        title: 'Dropdown',
                        extraTitle: 'Default',
                        defaultText: 'Сколько гостей',
                        arr: [
                            {item: 'взрослые', num: 0},
                            {item: 'дети', num: 0},
                            {item: 'младенцы', num: 0},
                        ],
                        buttons: true
                    })
                    +input({
                        label_left: 'masked text field',
                        label_right: 'Default',
                        placeholder: 'ДД.ММ.ГГГГ',
                        type: 'text',
                        mod: 'date'})
                    .form__wrapper
                        +input({
                            label_left: 'date Dropdown',
                            placeholder: 'ДД.ММ.ГГГГ',
                            mod: 'datepicker',
                            labelMod: 'datepicker'
                        })
                        +input({
                            label_left: 'date Dropdown',
                            placeholder: 'ДД.ММ.ГГГГ',
                            mod: 'datepicker',
                            labelMod: 'datepicker'
                        })
                form.form_narrow
                    +input({
                        label_left: 'filter date dropdown',
                        mod: 'filter-datepicker',
                        labelMod: 'filter-datepicker'
                    })
                    +input({
                        label_left: 'subscription text field',
                        placeholder: 'Email',
                        type: 'email',
                        labelMod: 'subscribe'
                    })
            div
                form.form_box.form_narrow
                    +text('h3', 'Checkbox Buttons', 'label')
                    +checkbox({text: 'Можно курить', checked: false})
                    +checkbox({text: 'Можно с питомцами', checked: true})
                    +checkbox({text: 'Можно пригласить гостей (до&nbsp;10&nbsp;человек)', checked: true})
                form.form_box
                    +text('h3', 'Radio buttons', 'label')
                    +radio('gender', 'male', 'Мужчина', true)
                    +radio('gender', 'female', 'Женщина', false)
                form.form_box
                    +text('h3', 'Toggle', 'label')
                    +toggle({text: 'Получать спецпредложения', checked: true})
                    +toggle({text: 'Получать спецпредложения', checked: false})
                .form_box
                    +text('h3', 'Like button', 'label')
                    +like({likes: 2, isLiked: false})
                    +like({likes: 12, isLiked: true})
                .form_box
                    +text('h3', 'rate button', 'label')
                    .form__wrapper
                        +rate('rate-1')
                        +rate('rate-10')
            div
                .form_box.form_narrow
                    include components/range-slider/range-slider
                .form_box
                    +text('h3', 'buttons', 'label')
                    div
                        +button({type: 'bg', text: 'click me'})
                        +button({type: 'bg', text: 'click me'})
                    div
                        +button({type: 'border', text: 'click me'})
                        +button({type: 'border', text: 'click me'})
                    div
                        +button({type: 'btn', text: 'click me'})
                        +button({type: 'btn', text: 'click me'})
                    form.form_wide
                        +button({type: 'submit', text: 'перейти к оплате'})
                .form_box
                    +text('h3', 'pagination', 'label')
                    include components/pagination/pagination
        .content
            div
                form.form_narrow
                    +dropdown({
                        title: 'Dropdown',
                        extraTitle: 'Default',
                        defaultText: '2 спальни, 2 кровати...',
                        arr: [
                            {item: 'спальни', num: 2},
                            {item: 'кровати', num: 2},
                            {item: 'ванные комнаты', num: 0},
                        ],
                        buttons: false
                    })
                    +dropdown({
                        title: 'Dropdown',
                        extraTitle: 'expanded',
                        defaultText: '2 спальни, 2 кровати...',
                        arr: [
                            {item: 'спальни', num: 2},
                            {item: 'кровати', num: 2},
                            {item: 'ванные комнаты', num: 0},
                        ],
                        buttons: false
                    })
                .form_narrow
                    +checkbox-expandable({
                        title: 'expandable checkbox list',
                        arr: [
                            {text: 'Завтрак', checked: false},
                            {text: 'Письменный стол', checked: true},
                            {text: 'Стул для кормления', checked: true},
                            {text: 'Кроватка', checked: true},
                            {text: 'Телевизор', checked: false},
                            {text: 'Шампунь', checked: false},
                            {text: 'Телевизор', checked: false},
                            {text: 'Шампунь', checked: false},
                        ]
                    })
                    +checkbox-expandable({
                        title: 'expandable checkbox list',
                        arr: [
                            {text: 'Завтрак', checked: false},
                            {text: 'Письменный стол', checked: true},
                            {text: 'Стул для кормления', checked: true},
                            {text: 'Кроватка', checked: true},
                            {text: 'Телевизор', checked: false},
                            {text: 'Шампунь', checked: false},
                            {text: 'Телевизор', checked: false},
                            {text: 'Шампунь', checked: false},
                        ]
                    })
                +room-info({icon: 'mood', heading: 'Комфорт', text: 'Шумопоглощающие стены'})
                +room-info({icon: 'location_city', heading: 'Удобство', text: 'Окно в каждой из спален'})

            div
                .ui-kit-wrapper
                    .form_wide
                        +dropdown({
                            title: 'Dropdown',
                            defaultText: 'Сколько гостей',
                            arr: [
                                {item: 'взрослые', num: 0},
                                {item: 'дети', num: 0},
                                {item: 'младенцы', num: 0},
                            ],
                            buttons: true
                        })
                    .form_wide
                        +dropdown({
                            title: 'Dropdown',
                            defaultText: 'Сколько гостей',
                            arr: [
                                {item: 'взрослые', num: 0},
                                {item: 'дети', num: 0},
                                {item: 'младенцы', num: 0},
                            ],
                            buttons: true
                        })
                .ui-kit-wrapper
                    .form_narrow
                        +text('h3', 'Rich Checkbox Buttons', 'label')
                        +checkbox({
                            text: 'Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см.',
                            checked: false,
                            mod: 'rich',
                            darkText: 'Широкий коридор'})
                        +checkbox({
                            text: 'На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера.',
                            checked: false,
                            mod: 'rich',
                            darkText: 'Помощник для инвалидов'
                        })
                    .form_narrow
                        +text('h3', 'Bullet List', 'label')
                        +bullet-list([
                            'Нельзя с&nbsp;питомцами',
                            'Без вечеринок и&nbsp;мероприятий',
                            'Время прибытия&nbsp;&mdash; после 13:00, а&nbsp;выезд до&nbsp;12:00'
                        ])
                div
                    +review({
                        img: '/murad2.png',
                        name: 'Мурад Сарафанов',
                        daysAgo: 5,
                        likes: 12,
                        isLiked: true,
                        text: 'Великолепный матрас на&nbsp;кровати в&nbsp;основной спальне! А&nbsp;пуфик вообще потрясающий. И&nbsp;стены, действительно, шумоподавляющие. Выкрикивал комплименты повару&nbsp;&mdash; никто не&nbsp;жаловался из&nbsp;соседей.'
                    })

