doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title UI Kit
    body
        include components/logo/logo
        .content
            include components/colors/colors
            include components/type/type

