doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title UI Kit
    body
        include components/logo/logo
        .content
            include components/colors/colors
            include components/type/type
        .content
            div
                form.form_wide
                    include components/input/input
                    +input({
                        label_left: 'Text Field',
                        label_right: 'Default',
                        placeholder: 'Email',
                        type: 'text'
                    })
                    +input({
                        label_left: 'Text Field',
                        label_right: 'Hover / Focus',
                        placeholder: 'This is pretty awesome',
                        type: 'text'
                    })
                    include components/dropdown/dropdown
                    +dropdown({
                        label_left: 'Dropdown',
                        label_right: 'Default',
                        defaultField: 'Сколько гостей',
                        expanded: ['взрослые', 'дети', 'младенцы'],
                        startCount: [0, 0, 0],
                        applyBtn: true
                    })
                    +input({
                        label_left: 'masked text field',
                        label_right: 'Default',
                        placeholder: 'ДД.ММ.ГГГГ',
                        type: 'text',
                        mod: 'date'})
                    .form__wrapper
                        +input({
                            label_left: 'date Dropdown',
                            placeholder: 'ДД.ММ.ГГГГ',
                            mod: 'datepicker',
                            labelMod: 'datepicker'
                        })
                        +input({
                            label_left: 'date Dropdown',
                            placeholder: 'ДД.ММ.ГГГГ',
                            mod: 'datepicker',
                            labelMod: 'datepicker'
                        })
                form.form_narrow
                    +input({
                        label_left: 'filter date dropdown',
                        mod: 'filter-datepicker',
                        labelMod: 'filter-datepicker'
                    })
                    +input({
                        label_left: 'subscription text field',
                        placeholder: 'Email',
                        type: 'email',
                        labelMod: 'subscribe'
                    })
            div
                form.form_box.form_narrow
                    +heading('h3', 'Checkbox Buttons')
                    include components/checkbox/checkbox
                    +checkbox({text: 'Можно курить', checked: false})
                    +checkbox({text: 'Можно с питомцами', checked: true})
                    +checkbox({text: 'Можно пригласить гостей (до&nbsp;10&nbsp;человек)', checked: true})
                form.form_box
                    +heading('h3', 'Radio buttons')
                    include components/radio/radio
                    +radio('gender', 'male', 'Мужчина', true)
                    +radio('gender', 'female', 'Женщина', false)
                form.form_box
                    +heading('h3', 'Toggle')
                    include components/toggle/toggle
                    +toggle('Получать спецпредложения')
                    +toggle('Получать спецпредложения')
                .form_box
                    +heading('h3', 'Like button')
                    include components/like-btn/like-btn
                    +like({likes: 2, isLiked: false})
                    +like({likes: 12, isLiked: true})
                .form_box
                    +heading('h3', 'rate button')
                    .form__wrapper
                        include components/rate-btn/rate-btn
                        +rate('rate-1')
                        +rate('rate-10')
            div
                .form_box.form_narrow
                    include components/range-slider/range-slider
                .form_box
                    +heading('h3', 'buttons')
                    include components/button/button
                    div
                        +button({type: 'bg', text: 'click me'})
                        +button({type: 'bg', text: 'click me'})
                    div
                        +button({type: 'border', text: 'click me'})
                        +button({type: 'border', text: 'click me'})
                    div
                        +button({type: 'btn', text: 'click me'})
                        +button({type: 'btn', text: 'click me'})
                    form.form_wide
                        +button({type: 'submit', text: 'перейти к оплате'})
                .form_box
                    +heading('h3', 'pagination')
                    include components/pagination/pagination
        .content
            div
                form.form_narrow
                    +dropdown({
                        label_left: 'Dropdown',
                        label_right: 'Default',
                        defaultField: '2 спальни, 2 кровати...',
                        expanded: ['спальни', 'кровати', 'ванные комнаты'],
                        startCount: [2, 2, 0],
                        applyBtn: false
                    })
                    +dropdown({
                        label_left: 'Dropdown',
                        label_right: 'expanded',
                        defaultField: '2 спальни, 2 кровати...',
                        expanded: ['спальни', 'кровати', 'ванные комнаты'],
                        startCount: [2, 2, 0],
                        applyBtn: false
                    })
                include components/room-info/room-info
                +room-info({icon: 'mood', heading: 'Комфорт', text: 'Шумопоглощающие стены'})
                +room-info({icon: 'location_city', heading: 'Удобство', text: 'Окно в каждой из спален'})

            div
                .ui-kit-wrapper
                    .form_wide
                        +dropdown({
                            label_left: 'Dropdown',
                            defaultField: 'Сколько гостей',
                            expanded: ['взрослые', 'дети', 'младенцы'],
                            startCount: [0, 0, 0],
                            applyBtn: true
                        })
                    .form_wide
                        +dropdown({
                            label_left: 'Dropdown',
                            defaultField: 'Сколько гостей',
                            expanded: ['взрослые', 'дети', 'младенцы'],
                            startCount: [0, 0, 0],
                            applyBtn: true
                        })
                .ui-kit-wrapper
                    .form_narrow
                        +heading('h3', 'Rich Checkbox Buttons')
                        +checkbox({
                            text: 'Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см.',
                            checked: false,
                            mod: 'rich',
                            darkText: 'Широкий коридор'})
                        +checkbox({
                            text: 'На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера.',
                            checked: false,
                            mod: 'rich',
                            darkText: 'Помощник для инвалидов'
                        })
                    .form_narrow
                        +heading('h3', 'Bullet List')
                        include components/bullet-list/bullet-list
                        +bullet-list([
                            'Нельзя с&nbsp;питомцами',
                            'Без вечеринок и&nbsp;мероприятий',
                            'Время прибытия&nbsp;&mdash; после 13:00, а&nbsp;выезд до&nbsp;12:00'
                        ])
                div
                    include components/review/review
                    +review({
                        img: '/murad2.png',
                        name: 'Мурад Сарафанов',
                        daysAgo: 5,
                        likes: 12,
                        isLiked: true,
                        text: 'Великолепный матрас на&nbsp;кровати в&nbsp;основной спальне! А&nbsp;пуфик вообще потрясающий. И&nbsp;стены, действительно, шумоподавляющие. Выкрикивал комплименты повару&nbsp;&mdash; никто не&nbsp;жаловался из&nbsp;соседей.'
                    })
