doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title UI Kit
    body
        include components/logo/logo
        .content
            include components/colors/colors
            include components/type/type
        .content
            div
                form.form_wide
                    include components/input/input
                    +input({label_left: 'Text Field', label_right: 'Default', placeholder: 'Email'})
                    +input({label_left: 'Text Field', label_right: 'Hover / Focus', placeholder: 'This is pretty awesome'})
                    include components/dropdown/dropdown
                    +input({label_left: 'masked text field', label_right: 'Default', placeholder: 'ДД.ММ.ГГГГ', mod: 'date'})
            div

            div

