@import "../../assets/variables";

.like-btn {
  background: #FFFFFF;
  position: relative;
  width: 40px;
  height: 20px;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 10px;
  outline: none;
  color: $dark-shade-25;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: $dark-shade-25;
  }
  &__num {
    font-size: 10px;
  }
  &__icon {
    font-size: 10px;
    position: absolute;
    top: 4px;
    left: 5px;
  }
  &_liked {
    color: $purple;
    &:before{
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }
  &__likes {
    display: flex;
    justify-content: center;
    padding-left: 10px;
  }
}

