mixin like(options)
    button.like-btn(class= (options.isLiked ? 'like-btn_liked' : ''))
        if (options.isLiked)
            i.material-icons.like-btn__icon favorite
        else
            i.material-icons.like-btn__icon favorite_border
        .like-btn__likes
            span.like-btn__num= options.likes

