@import "../../assets/variables";

.rate {
  background: $gr-primary-rgba;
  background-clip: text;
  i {
    display: inline;
    color: transparent;
    cursor: pointer;
  }
  .selected {
    background: none;
  }
}

